.primaryLabel {
  fill: white;
}

.secondaryLabel {
  fill: #fafdfd;
}

.tertiaryLabel {
  fill: #4fd8eb;
}

.backgroundArc {
  fill: #2e3132;
}

#background {
  width: 100%;
  height: 100%;
  fill: black;
}

.icon {
  fill: white;
  width: 25;
  height: 25;
}